.form {
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  margin-top: 40px;
  width: 100%;

  &__title {
    margin-bottom: 30px;
  }

  &__inp {
    background: #f5f5f5;
    border-radius: 20px;
    border: none;
    padding: 13px 32px 13px 30px;
    margin-bottom: 21px;
    box-sizing: border-box;
    width: 260px;
    cursor: pointer;
    &::placeholder {
      color: #2f222240;
    }
  }

  &__btn {
    color: #fff;
    background: #5d71dd;
    border-radius: 20px;
    padding: 13px 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  &__vector {
    width: 20px;
    height: 18px;
    margin-left: 10px;
  }
}